.rdrDateRangePickerWrapper {
  font-family: sans-serif;
  position: relative;
  width: fit-content;
}

.rdrMonth {
  max-width: 27.667em;
}

.rdrMonths {
  border-top: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.204);
  padding: 24px 50px;

  position: absolute;
  top: 70px;

  transition: all 0.4s;

  background-color: #fff;

  right: 0;
  /* opacity: 0.6; */
}

button.rdrDay {
  height: 50px;
}

.rdrMonthName {
  color: #000;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.rdrWeekDay {
  color: #000;
  font-weight: bold;
  font-size: 16px;
}

.rdrDayNumber {
  font-weight: bold;
  font-size: 16px;
}

.rdrMonthAndYearPickers {
  display: none;
}

.rdrInRange {
  background-color: #67cae4;
  border-radius: 12px;

  width: 90%;
}

.rdrStartEdge,
.rdrEndEdge {
  width: 90%;
  border-radius: 12px;
  background-color: #079;
}

/* #################### */
/* NEXT AND PREV btns */

.rdrNextPrevButton:last-of-type {
  right: 0;
}

.rdrNextPrevButton:first-of-type {
  left: 0;
}

.rdrDateInput {
  display: inline-block;
  width: 160px;
  background-color: rgb(240, 240, 240);
}

.rdrNextPrevButton:last-of-type,
.rdrNextPrevButton:first-of-type {
  z-index: 999;
  background-color: #fff;
  border-bottom: none;
  position: absolute;
  /* width: 100%; */
  top: 50%;
  transition: all 0.3s;
}

.hiddenCalendar.rdrNextPrevButton {
  transform: translateY(0);
}

.rdrDateDisplay {
  background-color: #fff;
  gap: 5px;
  margin: 0;
  max-width: 455px;
}

.rdrDefinedRangesWrapper {
  display: none;
  /* justify-content: space-between; */
}

.hiddenCalendar {
  transform: translateY(-120%);
  /* makes it invisible to the eye */
  opacity: 0;

  /* makes it unaccessebile to mouse and keyboards */
  pointer-events: none;

  /* hides it from screen readers */
  visibility: hidden;

  z-index: -999;
}

.rdrMonthAndYearWrapper {
  /* height: 0;
  padding: 0; */
  justify-content: space-between;
}

.rdrDateInput {
  box-shadow: none;
}

.rdrDateDisplayWrapper {
  background-color: #fff;
}

/* @media (max-width: 823px) {
  .rdrNextPrevButton:last-of-type {
    right: 0;
  }

  .rdrNextPrevButton:first-of-type {
    left: 0;
  }
} */
