.inner-form-container {
  gap: 10px;
}

.location-fields-container {
  width: 24em;
}

.location-fields-container,
.form-fields-container {
  gap: 5px;
}

.btn {
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  gap: 10px;
  width: fit-content;
  height: 50px;
  background: linear-gradient(135deg, #ff690f 0%, #e8381b 100%);
  border-radius: 7px;
}

.btn > svg.MuiSvgIcon-root {
  fill: #fff;
}

.date-search-container {
  gap: 5px;
}
